
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dark-mode-bg: #000000;
    --dark-mode-text: #ffffff20;
    --dark-mode-highlight: #ffff;
    --dark-mode-shadow: #f3f7faa0;
    --light-mode-bg: #e7e8e8;
    --light-mode-text: #c2c3c4;
    --light-mode-highlight: #ffffff;
    --light-mode-shadow: #f3f7fa;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--dark-mode-bg);
    font-family: Monospace, sans-serif;
    
}


#myText{
    font-size: 50px;
    letter-spacing: 0.5em;
    text-align: center;
}
.highlight {
    transition: all 3s;
    color: var(--dark-mode-highlight); 
    text-shadow: 0 0 5px var(--dark-mode-shadow);
    /* -webkit-text-stroke-color: rgba(255, 255, 255, 0.078); */

  }
    

  /*toggle mode button*/
    /* .toggle-mode{
        position: absolute;
        top: 1em;
        right: 1em;
        background-color: var(--light-mode-bg);
        color: var(--light-mode-text);
        border: none;
        padding: .5em;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s;
    } */
    