
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: /*#f0f0f0*/ #000000;
    font-family: Monospace, sans-serif;
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.clock{
    display: flex;
    justify-content: center;
    width: 50%;
}
#myText{
    margin-left: .4em;
    font-size: 50px;
    letter-spacing: .8em;
    text-align: center;
    color: #ffffff20;
    /* max-width: 29ch;  */
    word-wrap: break-word;

}
.highlight {
    transition: all 3s;
   color: #ffff; /* Customize highlight styles here (e.g., font-weight: bold; text-decoration: underline; color: yellow;) */
   text-shadow: 0 0 5px rgba(243, 247, 250, 0.628);
  }